
  .icon{
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 52px;
    font-family: sans-serif;
    text-decoration: none;
  }
.max-width-1{
    padding-right: 53px;
    align-self: center;
    cursor: pointer;
}
  .icon p{
      text-decoration: none;
      color: azure;
      font-size: 72px;
      flex-direction: column;
      font-family: fantasy;
  }
